# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Output for built module on Linux
dh-webengineering-chat

# Save files
messages.gob
sessions.gob

#IDE folders
.vscode/
.idea/
