<!DOCTYPE html>
<html>

<head>
    <title>Web Engineering Chat Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="gfx/favicon.png">
    <link rel="stylesheet" href="css/main.css">
    <script type="module" src="js/main.js"></script>
</head>

<body>
    <div class="grid-container">
        <div id="messages" class="grid-element"></div>
        <div id="entry" class="grid-element">
            <textarea id="message-entry" name="message-entry" placeholder="Write a message"></textarea>
        </div>
        <div id="submit" class="grid-element">
            <i class="fas fa-paper-plane"></i>
            <span>Send</span>
        </div>
        <div id="userlist" class="grid-element"></div>
        <div id="controls" class="grid-element">
            <i class="fas fa-user"></i>
            <input id="username" name="Username" type="text" placeholder="Enter your Username">
        </div>
    </div>

</body>

</html>